 @import url("https://use.typekit.net/tyo2fdh.css");
 @import url("https://use.typekit.net/tyo2fdh.css");

.topnav {
    background-color: #007eaf;
    overflow: hidden;
    width: 100%;
}

.topnav a {
    color: #black;
    text-align: center;
    font-family: "Gia Variable", sans-serif;
    font-weight: 700;
    font-size: 17,75px;
    word-spacing: 70px;
    white-space: nowrap;
}